$hover-accent-color: orangered;

h2 {
    text-transform: uppercase;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none;
}

body {
    --link-external-color-hover: #{$hover-accent-color};
    --tag-color-hover: #{$hover-accent-color};
    --text-accent-hover: #{$hover-accent-color};

    &.theme-dark {
        --dg-graph-border-color: #CCC;
        --text-accent: #CCC;
        --text-accent-hover: $hover-accent-color;
    }

    &.theme-light {
        --dg-graph-border-color: #ABABAB;
    }

    @media (max-width: 768px) {
        li.task-list-item,
        ul.task-list {
            margin-inline-start: 0;
        }
    }

    .search-toggle-row .search-button {
        flex: 1;
        width: auto !important;
    }

    .social-icons {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 8px 8px;

        a {
            align-items: center;
            display: flex;
            gap: 8px;
            opacity: 0.6;
            transition: opacity 0.2s;

            &:hover {
                color: $hover-accent-color;
                opacity: 1;
                text-decoration-color: $hover-accent-color;

                img {
                    filter: brightness(0) saturate(100%) invert(34%) sepia(99%) saturate(2000%) hue-rotate(4deg) brightness(103%);
                }
            }

            span {
                font-size: 13px;
            }
        }

        img {
            filter: invert(0);
            height: 20px;
            width: 20px;
        }
    }

    .theme-toggle img {
        height: 36px;
        width: 36px;
    }
}

.theme-dark .social-icons img {
    filter: invert(1);
}

.cm-s-obsidian a:hover,
.backlink-card a:hover,
.external-link:hover,
.notelink a:hover,
.toc a:hover {
    color: $hover-accent-color !important;
    text-decoration: underline solid $hover-accent-color !important;
}

@media (max-width: 999px) {
    .filetree-wrapper {
        z-index: 100;
    }

    .fullpage-overlay {
        z-index: 99;
    }

    .sidebar-transition {
        transition: transform 0.04s ease;
    }

    .sidebar-offscreen {
        transform: translateX(-100%);
    }

    .sidebar-onscreen {
        transform: translateX(0);
    }
}
